extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Recent Posts

  //- if posts == null
  if posts.length == 0
    p.empty.text-center Uh, oh!!! There are no posts! Good-bye.

  .posts
    ul
      each post in posts
        .row
          .offset-sm-2.col-sm-8
            li
              a(href="/" + post.slug, title=post.title)= post.title
              span &nbsp; by #{post.authorName}
