extends layout

block variables
  - var title = "Unauthenticated"

block content
  .unauthenticated
    h2.text-center Whoopsie!
    p.
      You must be signed in to view this page. Please #[a(href='/users/login', title="Login") login] to view this page.
